.footer {
    // .footer__header
    &__header {
        .container{
            padding: 40px 10px;
        }
    }
    // .footer__content
    &__content {
        background-color: $secondary-color-2;
        color: $light-text-color;
        .container{
            padding: 50px 10px;
        }
    }
    // .footer__footer
    &__footer {
        .container{
            padding: 25px 10px;
        }
    }
    // .footer__row
    &__row {
        display: flex;
    }

    @media screen and (max-width: 870px){
        &__content {
            .container{
                padding: 40px 20px;
            }
        }
    }
    @media screen and (max-width: 767px){
        &__header {
            .container{
                padding: 20px 20px;
            }
        }
    }
}

.row-header {
    justify-content: space-between;
    // .row-header__column
    &__column {
        &:last-child{
            padding: 0 38px;
        }
    }
    // .row-header__title
    &__title {
        margin-right: 360px;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.33333;
        letter-spacing: 0em;
        color: $text-color;
        margin: 0 0 10px 0;
    }
    // .row-header__text
    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.42857;
        letter-spacing: 0.01em;
        color: $second-text-color;
    }
    // .row-header__submit
    &__submit {
        border-radius: 5px;
        padding: 15px 40px;
        width: 160px;
        height: 58px;
        background-color: $primary-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 0.01em;
        text-align: center;
        color: $light-text-color;
        cursor: pointer;
    }
    @media screen and (max-width: 767px){
        flex-direction: column;
        &__column:last-child{
            margin: 15px 0 0 0;
            padding: 0
        }
    }
}
.row-content {
    column-gap: 30px;
    // .row-content__column
    &__column {
        flex: 0 1 calc(16.667% - 15px);
        // .row-content__column_b
        &_b {
            flex: 0 1 calc(33.334% - 15px);
        }
    }
    // .row-content__title
    &__title {
        margin: 0 0 20px 0;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.01em;
    }
    // .row-content__list
    &__list {
        li{
            margin: 0 0 10px 0;
            &:last-child{
                margin: 0;
            }
        }
        &_ics{
            li{
                display: flex;
                column-gap: 10px;
                align-items: center;
            }
        }
    }
    // .row-content__link
    &__link {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.71429;
        letter-spacing: 0.01em;
    }


    @media screen and (max-width: 870px) {
        flex-direction: column;
        &__column{
            &:nth-child(1n + 2){
                margin-top: 15px;
            }
        }
        &__title{
            position: relative;
            display: inline-flex;
            align-items: center;
            margin-bottom: 5px;
            
        }
        &__title::after{
            content: "";
            display: block;
            background-image: url("@img/arrow_down.svg");
            background-size: 30px 30px;
            background-repeat: no-repeat;

            left: 5px;
            top: 0;
            width: 30px;
            height: 30px;
            filter: invert(93%) sepia(93%) saturate(0%) hue-rotate(271deg) brightness(106%) contrast(106%);

            transition: 0.2s ease-in-out;
            
        }
        &__title.active::after{
            transform: scaleY(-1);
        }
        &__list{
            // visibility: hidden;
            display: none;
            height: 0;
            margin: 0;
            opacity: 0;
            // &.active{
            //     height: 126px;
            //     opacity: 1;
            // animation: showContent 0.5s linear forwards;
            // }

        }
    }

}
.row-footer {
    display: flex;
    justify-content: space-between;
    // .row-footer__text
    &__text {
        font-weight: 600;
        font-size: 14px;
        line-height: 1.71429;
        letter-spacing: 0.01em;
        color: $second-text-color;
    }
    // .row-footer__socials
    &__socials {
        // margin: 0 auto;
        max-width: 236px;
        width: 100%;
        display: flex;
        column-gap: 20px;
        max-height: 24px;
        justify-content: center;
        img{
            cursor: pointer;
        }
    }

    @media screen and (max-width: 540px) {
        flex-wrap: wrap;
        &__socials{
            order: 0;
            max-width: fit-content;
            margin-bottom: 10px;
        }
        &__text{
            order: 1;
        }
        
    }
}

@keyframes showContent {
    0%{max-height: 0px; opacity: 0;}
    100%{max-height: 200px; opacity: 1;}
}
@keyframes closeContent {
    0%{max-height: 200px; opacity: 1;}
    100%{max-height: 0px; opacity: 0;}
}
