.header {
    height: 104px;
    position: relative;
    z-index: 4;

    // .header__row
    &__row {
        display: flex;
        position: relative;
        top: calc(50% - 16px);
    }
    
    // .header__brand
    &__brand {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        margin-right: 134px;
        // line-height: 1.33333;
        letter-spacing: 0em;
        color: $text-color;
        position: relative;
        z-index: 5;
        transition: all 0.5s ease-in-out;

        &.active{
            color: $light-text-color
        }
    }
    // .header__menu
    &__menu {
    }
    .container{
        height: 100%;
        position: relative;

    }

    @media screen and (max-width: 767px){
        &__row{
            width: 100%;
        }
        height: 84px;
    }
}

.menu {
    display: flex;
    align-items: center;
    &__list{
        display: flex;
        li{
            padding: 0 10px;
        }
    }
    // .menu__link
    &__link {
        font-size: 14px;
        line-height: 24px; 
        // line-height: 1.71429;
        letter-spacing: 0.01em;
        text-align: center;
        color: $second-text-color;
    }

    &__icon{

    }

    @media screen and (max-width: 767px) {
        &__body{

            background-color: $secondary-color-2;
            transform: translateX(100%);
            position: fixed;
            align-items: center;
            justify-content: center;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            display: none;

            // transition: all 0.5s ease-in-out;
            

            &.active{
     
                display: flex;
                transform: translateX(0%);
                height: 100%;
                width: 100%;
                background-color: $secondary-color-2;
                animation: menu-open 0.5s ease-in-out forwards;
            }
            &.closing{
                animation: menu-close 0.5s ease-in-out forwards;
            }
            
        }
        &__list{
            display: flex;
            flex-direction: column;
            text-align: center;
            li{
                margin: 0 0 30px 0;
                &:last-child{
                    margin: 0;
                }
            }

        }
        &__link {
            font-size: 28px;
            line-height: 24px;
            // line-height: 1.71429;
            letter-spacing: 0.01em;
            text-align: center;
            color: $light-text-color;
            
        }
    }
}
@keyframes menu-open {
    from{display: none; transform: translateX(100%);}
    to{display: flex; transform: translateX(0%);}
}
@keyframes menu-close {
    from{display: flex; transform: translateX(0%);}
    to{display: none; transform: translateX(100%);}
}




@import '../abstract/burgermenu';
