@import 'fonts';

body{
    height: 100vh;
    .logo{
        background-color: red;
        mask: url('@img/cloud.svg') no-repeat center;

    }
    font-family: Roboto;
    font-size: 45px;
    line-height: 45px;
    background-color: black;
    span{
        color: red;
    }
    .bg{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: url('@img/sample.png') no-repeat center;
        background-size: cover;
    }
    
    img{
        // background-color: #fff;
        color: #fff
    }
}